In [1]:
import numpy as np
import pandas as pd
import tqdm as tqdm

In [2]:
islends=pd.read_csv("cpgIslandExt.txt", "\t", header=None, 
                    names=["bin","chrom","chromStart","chromEnd","name","length","cpgNum","gcNum","perCpg","perGc","obsExp"])
islends

,bin,chrom,chromStart,chromEnd,name,length,cpgNum,gcNum,perCpg,perGc,obsExp
0,585,chr1,28735,29810,CpG: 116,1075,116,787,21.6,73.2,0.83
1,586,chr1,135124,135563,CpG: 30,439,30,295,13.7,67.2,0.64
2,587,chr1,327790,328229,CpG: 29,439,29,295,13.2,67.2,0.62
3,588,chr1,437151,438164,CpG: 84,1013,84,734,16.6,72.5,0.64
4,588,chr1,449273,450544,CpG: 99,1271,99,777,15.6,61.1,0.84
...,...,...,...,...,...,...,...,...,...,...,...
30339,795,chrY,27610115,27611088,CpG: 76,973,76,672,15.6,69.1,0.66
30340,802,chrY,28555535,28555932,CpG: 32,397,32,252,16.1,63.5,0.82
30341,804,chrY,28773315,28773544,CpG: 25,229,25,172,21.8,75.1,0.78
30342,1036,chrY,59213794,59214183,CpG: 36,389,36,257,18.5,66.1,0.85
30343,1037,chrY,59349266,59349574,CpG: 29,308,29,190,18.8,61.7,0.99

In [3]:
positions=pd.read_csv("filtered_cytosines_coverage.tsv", "\t", na_values='NA')
positions.head()

,chrBase,OD10,OD11,OD12,OD13,OD14,OD15,OD16,OD17,OD18,...,YD20,YD21,YD2,YD3,YD4,YD5,YD6,YD7,YD8,YD9
0,chr1.10636,25.0,NaN,NaN,1.0,23.0,NaN,11.0,NaN,9.0,...,NaN,7.0,38.0,NaN,2.0,1.0,NaN,57.0,36.0,10.0
1,chr1.10617,25.0,NaN,NaN,1.0,23.0,NaN,12.0,NaN,9.0,...,NaN,7.0,39.0,NaN,2.0,2.0,1.0,53.0,37.0,10.0
2,chr1.10638,25.0,NaN,NaN,1.0,23.0,NaN,12.0,NaN,9.0,...,NaN,7.0,39.0,NaN,2.0,2.0,NaN,57.0,34.0,11.0
3,chr1.10631,24.0,NaN,NaN,NaN,23.0,NaN,12.0,NaN,9.0,...,NaN,7.0,39.0,NaN,2.0,2.0,1.0,52.0,37.0,11.0
4,chr1.10609,22.0,NaN,NaN,1.0,23.0,NaN,11.0,NaN,9.0,...,NaN,7.0,38.0,NaN,2.0,1.0,NaN,54.0,36.0,10.0

In [4]:
positions = positions.fillna(0.0)
positions.head()

,chrBase,OD10,OD11,OD12,OD13,OD14,OD15,OD16,OD17,OD18,...,YD20,YD21,YD2,YD3,YD4,YD5,YD6,YD7,YD8,YD9
0,chr1.10636,25.0,0.0,0.0,1.0,23.0,0.0,11.0,0.0,9.0,...,0.0,7.0,38.0,0.0,2.0,1.0,0.0,57.0,36.0,10.0
1,chr1.10617,25.0,0.0,0.0,1.0,23.0,0.0,12.0,0.0,9.0,...,0.0,7.0,39.0,0.0,2.0,2.0,1.0,53.0,37.0,10.0
2,chr1.10638,25.0,0.0,0.0,1.0,23.0,0.0,12.0,0.0,9.0,...,0.0,7.0,39.0,0.0,2.0,2.0,0.0,57.0,34.0,11.0
3,chr1.10631,24.0,0.0,0.0,0.0,23.0,0.0,12.0,0.0,9.0,...,0.0,7.0,39.0,0.0,2.0,2.0,1.0,52.0,37.0,11.0
4,chr1.10609,22.0,0.0,0.0,1.0,23.0,0.0,11.0,0.0,9.0,...,0.0,7.0,38.0,0.0,2.0,1.0,0.0,54.0,36.0,10.0

In [5]:
positions

,chrBase,OD10,OD11,OD12,OD13,OD14,OD15,OD16,OD17,OD18,...,YD20,YD21,YD2,YD3,YD4,YD5,YD6,YD7,YD8,YD9
0,chr1.10636,25.0,0.0,0.0,1.0,23.0,0.0,11.0,0.0,9.0,...,0.0,7.0,38.0,0.0,2.0,1.0,0.0,57.0,36.0,10.0
1,chr1.10617,25.0,0.0,0.0,1.0,23.0,0.0,12.0,0.0,9.0,...,0.0,7.0,39.0,0.0,2.0,2.0,1.0,53.0,37.0,10.0
2,chr1.10638,25.0,0.0,0.0,1.0,23.0,0.0,12.0,0.0,9.0,...,0.0,7.0,39.0,0.0,2.0,2.0,0.0,57.0,34.0,11.0
3,chr1.10631,24.0,0.0,0.0,0.0,23.0,0.0,12.0,0.0,9.0,...,0.0,7.0,39.0,0.0,2.0,2.0,1.0,52.0,37.0,11.0
4,chr1.10609,22.0,0.0,0.0,1.0,23.0,0.0,11.0,0.0,9.0,...,0.0,7.0,38.0,0.0,2.0,1.0,0.0,54.0,36.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2808443,chrY.13477742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,125.0,0.0,175.0,0.0,0.0,0.0,0.0,0.0,0.0
2808444,chr11.71488821,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,56.0,19.0,74.0,0.0,70.0,0.0,63.0,0.0,0.0,0.0
2808445,chr11.71498591,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,133.0,75.0,49.0,0.0,27.0,0.0,23.0,0.0,0.0,0.0
2808446,chr1.17199366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,202.0,0.0,0.0,0.0,0.0,0.0,0.0
2808447,chrY.13477269,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,483.0

In [6]:
dataset_new=positions["chrBase"].str.split('.', expand=True)
final=pd.concat([ dataset_new, positions], axis=1)
final

,0,1,chrBase,OD10,OD11,OD12,OD13,OD14,OD15,OD16,...,YD20,YD21,YD2,YD3,YD4,YD5,YD6,YD7,YD8,YD9
0,chr1,10636,chr1.10636,25.0,0.0,0.0,1.0,23.0,0.0,11.0,...,0.0,7.0,38.0,0.0,2.0,1.0,0.0,57.0,36.0,10.0
1,chr1,10617,chr1.10617,25.0,0.0,0.0,1.0,23.0,0.0,12.0,...,0.0,7.0,39.0,0.0,2.0,2.0,1.0,53.0,37.0,10.0
2,chr1,10638,chr1.10638,25.0,0.0,0.0,1.0,23.0,0.0,12.0,...,0.0,7.0,39.0,0.0,2.0,2.0,0.0,57.0,34.0,11.0
3,chr1,10631,chr1.10631,24.0,0.0,0.0,0.0,23.0,0.0,12.0,...,0.0,7.0,39.0,0.0,2.0,2.0,1.0,52.0,37.0,11.0
4,chr1,10609,chr1.10609,22.0,0.0,0.0,1.0,23.0,0.0,11.0,...,0.0,7.0,38.0,0.0,2.0,1.0,0.0,54.0,36.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2808443,chrY,13477742,chrY.13477742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,125.0,0.0,175.0,0.0,0.0,0.0,0.0,0.0,0.0
2808444,chr11,71488821,chr11.71488821,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,56.0,19.0,74.0,0.0,70.0,0.0,63.0,0.0,0.0,0.0
2808445,chr11,71498591,chr11.71498591,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,133.0,75.0,49.0,0.0,27.0,0.0,23.0,0.0,0.0,0.0
2808446,chr1,17199366,chr1.17199366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,202.0,0.0,0.0,0.0,0.0,0.0,0.0
2808447,chrY,13477269,chrY.13477269,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,483.0

In [7]:
#final.to_csv('oleg.csv')

In [8]:

#final = pd.read_csv('oleg.csv')

In [9]:
# def sum__(arr):
#     sum_=0
#     for i in arr:
#         if (str(i)!='nan'):
#             sum_+=float(i)
#     return sum_

In [10]:
# elements=dict()
# k=0
# for i in islends.values:
#     print(i[4])
#     elements[i[4]]=0
#     for z in final.values[k:]:
#         k+=1
#         print(k)
#         if int(z[1])>int(i[3]):
#           break
#         if int(z[1])<int(i[2]):
#           continue
#         elements[i[4]]+=sum(z[3:])
#         print( elements[i[4]])

In [11]:
islends=pd.read_csv("cpgIslandExt.txt", "\t", header=None, 
                    names=["bin","chrom","chromStart","chromEnd","name","length","cpgNum","gcNum","perCpg","perGc","obsExp"])
islends

,bin,chrom,chromStart,chromEnd,name,length,cpgNum,gcNum,perCpg,perGc,obsExp
0,585,chr1,28735,29810,CpG: 116,1075,116,787,21.6,73.2,0.83
1,586,chr1,135124,135563,CpG: 30,439,30,295,13.7,67.2,0.64
2,587,chr1,327790,328229,CpG: 29,439,29,295,13.2,67.2,0.62
3,588,chr1,437151,438164,CpG: 84,1013,84,734,16.6,72.5,0.64
4,588,chr1,449273,450544,CpG: 99,1271,99,777,15.6,61.1,0.84
...,...,...,...,...,...,...,...,...,...,...,...
30339,795,chrY,27610115,27611088,CpG: 76,973,76,672,15.6,69.1,0.66
30340,802,chrY,28555535,28555932,CpG: 32,397,32,252,16.1,63.5,0.82
30341,804,chrY,28773315,28773544,CpG: 25,229,25,172,21.8,75.1,0.78
30342,1036,chrY,59213794,59214183,CpG: 36,389,36,257,18.5,66.1,0.85
30343,1037,chrY,59349266,59349574,CpG: 29,308,29,190,18.8,61.7,0.99

In [12]:

import logging

In [13]:
def cnt(start,n):
    global islends,final
    elements = []
    arr = islends.values[start::n,2:4]
    k = 0
    for i in arr:
        k+=1
        filter1 = final[1].astype(float)>=float(i[0])
        filter2 = final[1].astype(float)<=float(i[1])
        s = final.where(filter1&filter2).values[3:].sum()/40
        print(s)
    #     s1 = final.where(filter1&filter2)[3:].sum()/(i[5])
        elements.append(s)
    return elements

In [14]:
#lst1 = cnt(0,10000)

In [15]:
#lst1

In [ ]:
final.values[6:,:5]